<!DOCTYPE html>
<html>
<head>
  <title>Benchmarkt6</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:created].present? %>
  <%= flash[:created] %>
  <hr>
  <% end %>

  <% if flash[:deleted].present? %>
  <%= flash[:deleted] %>
  <hr>
  <% end %>

<%= yield %>

</body>
</html>
